@model EmpDeptProject.Models.Models.Employee
@{
    ViewData["Title"] = "Create";
}



<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Employee</h2>
            <hr />

        </div>
       
        <div class="mb-3">
            <label asp-for="EmpName"></label>
            <input asp-for="EmpName" class="form-control" />
            <span asp-validation-for="EmpName" class="text-danger"></span>
            
        </div>
        
        <div class="mb-3">
            <label asp-for="EmpSalary"></label>
            <input asp-for="EmpSalary" class="form-control" />
            <span asp-validation-for="EmpSalary" class="text-danger"></span>
        </div>
        
        @Html.LabelFor(model => model.DeptId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col md-10">
            @Html.DropDownListFor(model=>model.DeptId,(SelectList)ViewBag.DeptId,new{@class="form-control"})
        </div>
        &nbsp;
        &nbsp;
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" style="width:100px">Add</button>
            <a asp-controller="Employees" asp-action="Index" class="btn btn-secondary" style="width:100px">Back</a>
        </div>
        
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial.cshtml" />
}





